//Gradient background
@mixin gradient($direction, $linear) {
  background: -webkit-linear-gradient($direction, $linear);
  background: -moz-linear-gradient($direction, $linear);
  background: -o-linear-gradient($direction, $linear);
  background: linear-gradient($direction, $linear);
}

//Gradient purple
@mixin gradient($direction, $purplegradient) {
  background: -webkit-linear-gradient($direction, $purplegradient);
  background: -moz-linear-gradient($direction, $purplegradient);
  background: -o-linear-gradient($direction, $purplegradient);
  background: linear-gradient($direction, $purplegradient);
}

//Media queries
@mixin xs {
  @media (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}
