//Google Font
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap");

// Color variables
$white: #ffffff;
$black: #000000;
$grey: #efefef;

$lightpurple: #aa76f2;

$opacity: rgba(0, 0, 0, 0.1);
$dropshadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

$primary: $white;
$accent: $lightpurple;
$button-hover: $lightpurple;

// Color variables for gradients
$light1: #f6f8f9;
$light2: #e5ebee;
$light3: #d7dee3;
$light4: #f5f7f9;
$purple1: rgba(131, 56, 236, 0.8);
$purple2: rgba(131, 56, 236, 0.6);

$purplegradient: $purple1 0%, $purple2 100%;
$linear: $light1 0%, $light2 50%, $light3 51%, $light4 100%;

// Type variables
$quicksand: "Quicksand", sans-serif;

//Weights
$light: 300;
$semi-bold: 600;
