header {
  @include gradient(to bottom, $purplegradient);
  height: 150px;
  width: 125%;
  margin: 0 0 20px -15%;
  position: relative;
  border-radius: 0 0 100% 100%;
  z-index: 2;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  color: $primary;

  /*Budget calculator*/
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

#totalSum {
  font-weight: $semi-bold;
  padding-left: 10px;
}
