body {
  @include gradient(bottom, $linear);
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 100px 0px;
}
.container {
  background: $primary;
  max-width: 600px;
  height: auto;
  margin: auto;
  min-height: 100%;
  box-shadow: $dropshadow;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 20px;
  @include xs {
    width: 85vw;
    font-size: 0.7rem;
  }
  @include sm {
    width: 85vw;
    font-size: 0.8rem;
  }
  @include md {
    width: 90vw;
  }
}
